<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Sala - Rocket.q</title>

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/home.css">

    <script src="https://kit.fontawesome.com/ed1e004c23.js" crossorigin="anonymous"></script>
    <!-- <script src="../../public/scripts/dark-mode.js"></script> -->

</head>
<body>
    <div id="home" class="content">
        <header>
            <a href="/">
                <img src="/images/logo.svg" alt="Rocket.Q Logo">
            </a>

            <div class="theme-change">
                <input type="checkbox" class="checkbox" id="checkbox">
                <label for="checkbox" class="label">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <div class="label-ball"></div>
                </label>
            </div>
        </header>

        <div id="bg">
            <div class="ball top"></div>
            <div class="ball bottom"></div>
        </div>
    
        <main>
            <div class="container">
                <%- include(`parts/${page}`) %>
            </div>
        </main>
    </div>

</body>
</html>